@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

.uk-overlay-primary {
    background: rgba(34,34,34,.2);
}

.tc-nav{
    background: rgba(48,74,154, 1);
    padding: 5px 0;
}

.tc-logo {
    float: left;
    line-height: 80px;
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    height: 60px;
}

.event-highlight p {
    color: rgb(255, 255, 255);
}

.member-style1 .member-icon {
    color: rgb(255, 255, 255);
    margin: 0 6px;
}

.member-style1 .entertainer-icons a {
    color: rgb(121, 121, 121)
}

.member-style1 .entertainer-icons a:first-of-type {
    margin-left: 0;
}

.tc-footer .uk-subnav a:hover,
.tc-footer .uk-subnav a:active,
.tc-footer .uk-subnav a:focus {
    color: #ccc;
    text-decoration: none !important;
}

.transition-delay-500  { transition-delay: 500ms;  }

.transition-delay-750  { transition-delay: 750ms;  }

.transition-delay-1000 { transition-delay: 1000ms; }

.transition-delay-1500 { transition-delay: 1500ms; }

.transition-delay-2000 { transition-delay: 2000ms; }

.transition-delay-2500 { transition-delay: 2500ms; }

.readon.inverse {
    border-color: #ffffff;
    color: #ffffff;
}
.readon.inverse:hover {
    color: #000000 !important;
}
.readon.inverse:hover:before {
    background: #ffffff;
}

.blue-color {
    color: #304a9a !important;
}

.left-aligned {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

.uk-text-white {
    color: #FFFFFF;
}

.sponsors {}

[sponsor-level] {
}

@media screen and (min-width: 960px) {
    .uk-card.sponsor {
        padding: 10px;
    }
    [sponsor-level="1"] {
        max-width: 33%
    }
    [sponsor-level="1"] img {
        max-height: 160px;
    }

    [sponsor-level="2"] {
        max-width: 25%;
    }
    [sponsor-level="2"] img {
        max-height: 135px;
    }

    [sponsor-level="3"] {
        max-width: 20%;
    }
    [sponsor-level="3"] img {
        max-height: 100px;
    }

    [sponsor-level="4"] {
        max-width: 15%;
    }
    [sponsor-level="4"] img {
        max-height: 75px;
    }

    [sponsor-level="5"] {
        padding: 5px !important;
    }
}

@media screen and (max-width: 960px) {
    .sponsors .uk-margin-left {
        margin-left: 5px!important
    }

    .sponsors .uk-margin-bottom {
        margin-bottom: 5px!important
    }

    [sponsor-level="1"] {
        max-width: 100%;
        padding: 5px !important;
    }
    [sponsor-level="1"] img {
        max-height: 160px;
    }

    [sponsor-level="2"] {
        max-width: 40%;
        padding: 5px !important;
    }
    [sponsor-level="2"] img {
        max-height: 135px;
    }

    [sponsor-level="3"] {
        max-width: 33%;
        padding: 5px !important;
    }
    [sponsor-level="3"] img {
        max-height: 100px;
    }

    [sponsor-level="4"] {
        max-width: 20%;
        padding: 5px !important;
    }
    [sponsor-level="4"] img {
        max-height: 75px;
    }

    [sponsor-level="5"] {
        padding: 5px !important;
    }
}