@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

.tc-nav{
    background: rgba(48,74,154, 1);
    padding: 5px 0;
}

.tc-logo {
    float: left;
    line-height: 80px;
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    height: 60px;
}

.event-highlight p {
    color: rgb(255, 255, 255);
}

.member-style1 .member-icon {
    color: rgb(255, 255, 255);
    margin: 0 6px;
}

.tc-footer .uk-subnav a:hover,
.tc-footer .uk-subnav a:active,
.tc-footer .uk-subnav a:focus {
    color: #ccc;
    text-decoration: none !important;
}

.transition-delay-500  { transition-delay: 500ms;  }

.transition-delay-750  { transition-delay: 750ms;  }

.transition-delay-1000 { transition-delay: 1000ms; }

.transition-delay-1500 { transition-delay: 1500ms; }

.transition-delay-2000 { transition-delay: 2000ms; }

.transition-delay-2500 { transition-delay: 2500ms; }

.readon.inverse {
    border-color: #ffffff;
    color: #ffffff;
}
.readon.inverse:hover {
    color: #000000 !important;
}
.readon.inverse:hover:before {
    background: #ffffff;
}

.blue-color {
    color: #304a9a !important;
}