<!-- Carvers Attending Start-->
<section class="tc-carvers-attending uk-section uk-section-small" id="tc-carvers-attending">
    <div class=" uk-container">
        <h2 class="title1 title-center mb60">Just a few of the carvers coming this year</h2>
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-4@m uk-width-1-2@s">
                <div class="member-style1 member-align-center member-light">
                    <div class="member-photo">
                        <img src="<%- url_for(config.root + "assets/2018/carvers/abeln-brooks.jpg") %>" alt="Brooks Abeln">
                        <div class="member-icons">
                            <a href="https://www.facebook.com/abelnarborworks/" title="Facebook" class="member-icon hvr-bounce-in">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h3 class="member-name">Brooks Abeln</h3>
                        <span class="member-role">Pennsylvania</span>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m uk-width-1-2@s">
                <div class="member-style1 member-align-center member-light">
                    <div class="member-photo">
                        <img src="<%- url_for(config.root + "assets/2018/carvers/oknefski-cheryl.jpg") %>" alt="Cheryl Oknefski">
                        <div class="member-icons">
                            <a href="https://www.facebook.com/Peaces-Of-Me-130498150360970/"
                               title="Facebook" class="member-icon hvr-bounce-in">
                               <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/cheryloknefski/"
                               title="Instagram" class="member-icon hvr-bounce-in">
                               <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://peace625.wixsite.com/peacesofme"
                               title="Website" class="member-icon hvr-bounce-in">
                               <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h3 class="member-name">Cheryl Oknefski</h3>
                        <span class="member-role">Pennsylvania</span>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m uk-width-1-2@s">
                <div class="member-style1 member-align-center member-light">
                    <div class="member-photo">
                        <img src="<%- url_for(config.root + "assets/2018/carvers/waclo-paul.jpg") %>" alt="Paul Waclo">
                        <div class="member-icons">
                            <a href="https://www.facebook.com/paul.waclo"
                                title="Facebook" class="member-icon hvr-bounce-in">
                                <i class="fab fa-facebook-f"></i>
                             </a>
                             <a href="https://www.instagram.com/Paulschainsawcreations"
                                title="Instagram" class="member-icon hvr-bounce-in">
                                <i class="fab fa-instagram"></i>
                             </a>
                             <a href="http://www.chainsawcarvingbypaul.com"
                                title="Website" class="member-icon hvr-bounce-in">
                                <i class="fas fa-globe"></i>
                             </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h3 class="member-name">Paul Waclo</h3>
                        <span class="member-role">Pennsylvania</span>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@m uk-width-1-2@s">
                <div class="member-style1 member-align-center member-light">
                    <div class="member-photo">
                        <img src="<%- url_for(config.root + "assets/2018/carvers/christman-brian.jpg") %>" alt="Brian Christman">
                        <div class="member-icons">
                            <a href="https://www.facebook.com/brian.christman.777"
                                title="Facebook" class="member-icon hvr-bounce-in">
                                <i class="fab fa-facebook-f"></i>
                             </a>
                             <a href="http://www.instagram.com/Christmans_carvings"
                                title="Instagram" class="member-icon hvr-bounce-in">
                                <i class="fab fa-instagram"></i>
                             </a>
                             <a href="http://www.rivervalleycarver.com"
                                title="Website" class="member-icon hvr-bounce-in">
                                <i class="fas fa-globe"></i>
                             </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h3 class="member-name">Brian Christman</h3>
                        <span class="member-role">Indiana</span>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-text-center uk-margin-large-top">
                <a href="#" class="readon">View all the carvers</a>
            </div>
        </div>
    </div>
</section>
<!-- Carvers Attending End -->