<!-- Announcement Start -->
<div class="uk-container uk-container-expand announcement_bar">
    <nav class="uk-navbar-container uk-navbar-transparent announcement_bar" uk-navbar>
        <div class="uk-navbar-center">
            <strong>Get to the carving quick!</strong>&nbsp; <a href="https://chainsawrendezvous.simpletix.com/" target="_blank">Purchase your entry tickets online.</a>
        </div>
    </nav>
</div>
<!-- Announcement End -->