<!-- Announcement Start -->
<section class="uk-section uk-padding-remove-vertical announcement_bar uk-light" id="announcement_bar" uk-sticky="">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <strong>Get to the carving quick!</strong>&nbsp; <a href="https://chainsawrendezvous.simpletix.com/" target="_blank"></a>Purchase your entry tickets&nbsp;online now.</a>
            </div>
        </nav>
    </div>
</section>
<!-- Announcement End -->