<!-- Email Sign Up Form Start-->

<div class="uk-section uk-section-secondary tc-email-newsletter">
    <div class="uk-container">
        <p class="uk-text-lead">Get the latest buzz by signing up for the newsletter</p>
        <form action="https://m.chainsawrendezvous.org/subscribe" method="POST" accept-charset="utf-8">
            <input type="email" name="email" id="email" class="uk-input uk-form-width-large" placeholder="Email Address" aria-label="Email Address"/>
            <button class="uk-button uk-button-default" type="submit" name="submit" id="submit">Submit</button>
            <div style="display:none;">
                <label for="hp">HP</label><br/>
                <input type="text" name="hp" id="hp"/>
            </div>
            <input type="hidden" name="list" value="RaQ763DkBdahlj763ansE4044g"/>
            <input type="hidden" name="subform" value="yes"/>
        </form>
    </div>
</div>


<!-- Email Sign Up Form End -->