<!-- Footer Start -->
<footer class="uk-section uk-section-secondary uk-section-xsmall" id="tc-footer">
    <div class="uk-container ">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-2">
                <ul class="uk-iconnav">
                    <li><a href="http://fb.com/chainsawrendezvous"><i class="fab fa-facebook fa-3x"></i></a></li>
                    <li><a href="https://www.youtube.com/user/ridgwayrendezvous"><i class="fab fa-youtube fa-3x"></i></a></li>
                    <li><a href="https://snapchat.com/add/chainsaw-vous"><i class="fab fa-snapchat-ghost fa-3x"></i></a></li>
                </ul>
            </div>
            <div class="uk-width-1-2">
                <a href="#" class="uk-align-right" uk-totop uk-scroll></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->