<!-- Start Offcanvas -->
<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar">
        <a href="" class="uk-modal-close-default" uk-close></a>
        <ul class="uk-nav uk-nav-default">
            <li><a href="#tc-slider" uk-scroll="">Home</a></li>
            <li><a href="#tc-about" uk-scroll="{offset: 80}">Carvers Attending</a></li>
            <li><a href="#tc-work" uk-scroll="{offset: 80}">Schedule</a></li>
            <li><a href="#tc-team" uk-scroll="{offset: 80}">Map</a></li>
            <li><a href="#tc-pricing" uk-scroll="{offset: 80}">History</a></li>
        </ul>
        <ul class="uk-iconnav">
            <li><a href="https://fb.com/chainsawrendezvous"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.youtube.com/user/ridgwayrendezvous"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://snapchat.com/add/chainsaw-vous"><i class="fab fa-snapchat-ghost"></i></a></li> 
        </ul>
    </div>
</div>
<!-- End Offcanvas -->